.Details {
    width: 60em;
    color: black;
    padding-right: 3em;
}

.Details > * {
    max-height: 80vh;
    overflow: auto;
}

.DisplayHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.DisplayTitle{
    font-size: x-large;
}