.Main{
    background-color: white;
    min-height: 95vh;
    display: flex;
    justify-content: space-between
}


.Main > *:last-child {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80vw;
  margin: 1em;


  /* border-style: solid;
  border-width: 1px;
  border-color: blue; */
}