.Main{
    background-color: #282c34;
    min-height: 85vh;
    display: flex;
    justify-content: space-between
}

.Main>* {
    /* border-style: solid;
    border-width: 1px;
    border-color: blue; */
}