.Unit {
    width: 100%;
    height: 9em;
    display:flex;
    justify-content: space-around;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;

    margin: 1em;
    
    /* border-style: solid;
    border-width: .1em;
    padding: .2em;
    margin: .2em;
    color: black; */
}



.keyValue {
    display: flex;
}


.Arrows {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;
    min-width: 3em;
}

.Arrows>* {
    cursor: pointer;
}

.Left {
    padding: 1em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    background-color: white;
}

.Center {
    
    width: 27em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    
}

.CenterOtherValues {
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
    padding: 1.3em;
}

.CenterOtherValues>*:hover, .Left>*:hover, .Right>*:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.CenterOtherValues>* {
    flex: 1 1 50%;
}

/* .NameAndEdit {
    display: flex;
    justify-content: space-between;
} */

.Name {
    font-size: x-large;
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
}

.Right {
    padding: 1em;
    width: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    background-color: white;
}