.Queue {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45em;
    padding-left: 1em;
    padding-right: 2em;
}

.ForwardPrevious {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}

.ForwardPrevious>* {
    cursor: pointer;
}